<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03_计算属性和监控</title>
</head>
<body>

    <div id="app">
        姓:<input type="text" v-model="firstName"/><br/>
        名:<input type="text" v-model="lastName"/><br/>
        <hr/>
        单向:<input type="text" placeholder="FULLNAME1" v-model="fullName1"/><br/>
        单向:<input type="text" placeholder="FULLNAME2" v-model="fullName2"/><br/>
        双向:<input type="text" placeholder="FULLNAME3" v-model="fullName3"/>
    </div>
    <script type="text/javascript" src="../js/http_cdn.jsdelivr.net_npm_vue_dist_vue.js"></script>
    <script type="text/javascript">
        var vue = new Vue({
            el:"#app",
            data:{
                firstName:"A",
                lastName:"B",
                fullName1:"A-B"
            },
            //计算属性
            computed:{
                fullName2:function(){
                   return this.firstName+"-"+this.lastName;
                },

                fullName3:{
                    get(){
                        return this.firstName+"-"+this.lastName;
                    },
                    set(value){
                        var s = value.split("-");
                        this.firstName = s[0];
                        this.lastName = s[1];
                    }
                }
            },
            //监控属性
            /*watch:{
                firstName:function(value){
                    this.fullName1=value+this.lastName;
                },
                lastName:function(value){
                    this.fullName1=this.firstName+value;
                }
            }*/
        });
        vue.$watch("firstName",function(value){
            this.fullName1=value+this.lastName;
        });
        vue.$watch("lastName",function(value){
            this.fullName1=this.firstName+value;

        });
    </script>
</body>
</html>
